h1 {
    font-size: 20px; 
}
.fundoVermelho {
    background-color: #dedede;
}
.negrito{
    font-weight: bold;
} 
#TextoPrincipal {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(248, 0, 0)
}